{% extends 'base.html' %}

                        {% block sidebar %}

                
                                    SIDEBAR
      
                        
                        {% endblock %}


                        {% block content %}
                        MAIN
                        
                        <h1 class="title">
                            Hello World
                        </h1>
                        <p class="subtitle">
                            My first website with <strong>Bulma</strong>!
                        </p>
                        {% endblock %}
                    